@{
    ViewBag.Title = "Delete";
}
<div class="container body-content">
    @using (Html.BeginForm())
    {
        <h3>Do you actually want to delete your account?</h3>
        <button type="submit">Confirm</button>
    }
</div>